.currentproduct{
    width: min-content;
    position: relative;
    height: 270px;
    margin-top: 2.5%;
    padding: 1.9% 2.4%;
    color: #403918;
    border-radius: 25px;
    background: linear-gradient(-240deg,#FFEB3B,rgb(250, 158, 21));
    box-shadow: 0px 24px 48px -12px rgba(250,158, 21,0.55) ;
}

.p-name h5{
    text-transform: capitalize;
}
.p-name select{
    float: right;
}
.p-weight{
    float: right;
    margin-top: -12%;
}
.p-weight > p{
    font-size: 10px;
    text-align: right;
}
.p-weight .p-price{
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 4px;
}
.p-image{
    margin-top: 12%;
}
.p-desc .w-desc{
    margin-top: 6%;
    font-size: 12px;
    font-weight: 500;
}
.w-desc select {
   float: right;
   padding: 2% 10%;
   border: none;
   outline: none;
   border-radius: 25px;
   background: #fbda6c;
}
.p-or{
    text-align: center;
    font-size: 10px;
    position: relative;
    margin: 8% 0;
    margin-top: 10%;
}
.p-or::after,.p-or::before{
    content: '';
    position: absolute;
    width: 40%;
    height: 5%;
    top: 7px;
    right: -4px;
    background: darkgoldenrod;
}
.p-or::before{
    left: -3px;
}
.p-basket{
    margin-top: 15%;
    text-align: center;
}
.p-basket button{
    padding: 8% 20%;
    border: none;
    border-radius: 25px;
    color: #000;
    background: #fff;
    cursor: pointer;
}
.allproducts{
    position: relative;
}
.product{
    border-radius: 25px;
    width: min-content;
    box-shadow: 5px 7px 10px 0 #9E9E9E;
    background: #fff;
    padding: 8%;
    margin-bottom: 8%;
}
.product:hover {
    transform: scale(1.1);
    transition: all 500ms;
}
.mapproduct{
    width: 73%;
    height: 117%;
    position: absolute;
    top: -6%;
    left: 20%;
    display: grid;
    padding: 1% 3% 0 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: auto;
}

.mapproduct::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  .mapproduct::-webkit-scrollbar-track {
    background: rgba(53, 48, 47, 0.198);
      border-left: 9px solid white;
      
      border-right: 9px solid white;
    border-radius: 15px;
  }
   
  /* Handle */
  .mapproduct::-webkit-scrollbar-thumb {
    background: #6a6b6a;
      border-left: 7px solid white;
      border-right: 7px solid white;
    border-radius: 500px;
  }
  
  /* Handle on hover */
  /* .mapproduct::-webkit-scrollbar-thumb:hover {
    
  } */
