.SearchInfo{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.search-box{
    margin-top: 2.5%;
    position: relative;
    width: 25%;
}
.search-box input{
    padding: 4.5%;
    font-size: 1rem;
    border-radius: 50px;
    border:  none;
    outline: none;
    text-indent: 9px;
    width: 75%;
    height: 25%;
    box-shadow:0 8px 30px -15px rgba(0,0,0,0.55);
}
.search-box button{
    border: none;
    color: #fff;
    background: #6a6b6a;
    padding: 3.4% 5.1%;
    border-radius: 50px;
    margin-left: -25%;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 7%;
}
.search-box button:hover{
    background: #3b3b3b;
    transition: all 500ms ease-in-out;
}
.delivery{
    display: flex;
    flex-direction: row;
    margin-top: 1.5%;
    margin-left: 5%;
}
.f-delivery{
    width: 400px;
    height: 26%;
}
.delivery .f-delivery,.timer{
    font-size: 14px;
    padding: 3.25%;
    color: rgb(49, 53, 47);
    background: #eae8e8;
    position: relative;
    border-radius: 18px;
    box-shadow: 10px 6px 20px -15px #0a0303;
}
.f-delivery .f-desc{
    margin-top: -2%;
}
.timer .t-desc{
    margin-top: -3%;
}
.delivery .timer{
    margin-left: 90px;
    padding: 3.45%;
    width: 310px;
    height: 26%;
}
.f-delivery img ,.timer img{
    position: absolute;
    right: 5%;
    top: 23%;
}
.delivery .timer img{
    top: 31%;
}
.f-desc span,.t-desc span{
    font-weight: bold;
    
}
.delivery .timer{
    float: right;
}