.container{
    margin: 0 auto;
    width: 90%;
    margin-top: 40px;
}
.container nav{
    position: relative;
    color: #6a6b6a;
}
.container nav h4{
    font-size: 1.4rem;
    font-weight: 300;
}
.container nav .mark{
    font-weight: 900;
}
.solidBrand{
    position: absolute;
    top: -65%;
    left: -6%;
    font-size: 3.2rem;
    z-index: -1;
    color: #eae8e8;
}