@media screen and (max-width: 440px) {
    body {
      overflow: scroll;
      width: 100%;
      height: 100%;
    }
    .brand h4 img{
        height: 45px;
    }
    .m-hide,.solidBrand,.delivery,.search-box,.categories ul{
        display: none;
    }
    .main-nav .cart-prop{
        position: relative;
    }
    .main-nav .cart-prop li:nth-child(4){
        position: absolute;
        margin-top: -3px;
        right: -25%;
    }
    .box{
        width: 105%;
        height: 65px;
    }
    .container nav{
        margin-top: -2%;
    }
    .c-head,.categories{
        margin-top: 5%;
        text-align: center;
    }
    .c-head h1{
        font-size: 1.2em;
    }
    .c-hide{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }
    .m-show{
        display: block;
        margin-top: 6%;
        transition: all 600ms;
    }
    .currentproduct{
        display: none;
    }
    .mapproduct{
        position: relative;
        margin-top: 8%;
        left: 2%;
        display: flex;
        flex-wrap: wrap;
        overflow: visible;
        width: 98%;
    }
    .product{
        width: 100px;
        margin-right: 5.2%;
        padding: 5% 8%;
    }
    .product .p-image{
        margin-left: -19%;
        width: 100%;
        margin-top: 34%;
    }
    .p-name{
        font-size: 14px;
    }
    .badge {
        padding: 5% 17%;
        right: -20%;
    }
  }
  @media screen and (max-width: 400px){
    .product{
        width: 90px;
        padding-right: 7%;
    }
    .product .p-image img{
        width: 140%;
    }
    .p-weight{
        margin-left: 5%;
    }
  }